[Unit]
Description=EV3 motor control server
After=network.target

[Service]
Type=simple
Restart=always
User=robot
ExecStart=/home/robot/ev3_control

[Install]
WantedBy=multi-user.target
