[submodule "third_party/arsdk3/arsdk_manifests"]
	path = third_party/arsdk3/arsdk_manifests
	url = ../../Parrot-Developers/arsdk_manifests.git
[submodule "third_party/ev3dev-lang-cpp"]
	path = third_party/ev3dev-lang-cpp
	url = ../../ddemidov/ev3dev-lang-cpp.git
[submodule "third_party/imgui/imgui"]
	path = third_party/imgui/include
	url = ../../ocornut/imgui.git
[submodule "third_party/plog"]
	path = third_party/plog
	url = ../../SergiusTheBest/plog.git
