<?xml version="1.0" ?>
<model>
    <name>differential_drive_robot</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Shinjan Mitra</name>
        <email>shinjanxp@gmail.com</email>
    </author>
    <description>A simple 2 wheeled cart with castor capable of differential drive control</description>
</model>
